body {
	font-size: 100%;
	line-height: 1.4;
	font-family: Arial, sans-serif;
	color: #333;
	margin: 1.5em;
}

main {
	max-width: 44em;
}

h1 {
	font-size: 2.5em;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 .5em 0;
}

h3 {
	margin: 0 0 .5em 0;
	font-size: 1.125em;
}

pre {
	margin: 0;
}

.example {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1.5em 1em;
	
}

.example + .example {
	margin-top: 100vh;
}

.code-wrap {
	margin: 0 0 1.5em 0;
	background-color: #fcfcfc;
	overflow: auto;
	max-height: 10em;
	padding: .5em;
}

.button {
	font-size: 1em;
    border: 0;
    background-color: #249be5;
    color: white;
    border-radius: .25em;
    padding: .375em .75em;
    cursor: pointer;
}

.button:hover {
    background-color: #1782c5;
}

.button:active {
    background-color: #1074b9;
}
